.homepage-container {
  display: flex;
  background-color: #eeeff2;
}

.homepage-content {
  width: 40%;
  margin-left: 30%;
}
.homepage-content {
  height: 100vh;       
  overflow-y: auto;     /* scroll active */
  overflow-x: hidden;
  box-sizing: border-box;
  

  /* Scrollbar hide sabhi browsers ke liye */
  scrollbar-width: none;       
  -ms-overflow-style: none;    /
}

/* .homepage-content::-webkit-scrollbar {
  display: none;              
} */
