/* Main container */
.PhotoBoxDialuge_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    /* z-index: 10; */
}

/* Top Bar */
.PhotoBoxDialuge_topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    background-color: white;
     z-index: 10;
}

.PhotoBoxDialugeImageCloseBtn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

.PhotoBoxDialugeImageConfirmBtn {
    padding: 6px 14px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
}

.PhotoBoxDialugeImageConfirmBtn.active {
    background: #007bff;
    cursor: pointer;
}

.PhotoBoxDialugeImageConfirmBtn:disabled {
    background: #ccc;
}

/* Image Grid */
.PhotoBoxDialugeImageGrid {
    overflow-y: scroll;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    z-index: 10;
    background-color: white;
}

/* Each image box */
.PhotoBoxDialugeImageParent {
    height: 120px;
    width: 120px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0px 56px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.PhotoBoxDialugeImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Selected border highlight */
.PhotoBoxDialugeImageParent.selected {
    border-radius: 10px;
    outline: 3px solid #007bff;
}