.left-sidebar {          
  padding: 5px;
  display: flex;
  flex-direction: column;  
  gap: 5px;               
  position: fixed;
  top: 60px;
  left: 0px;
  overflow-y: auto;    
  height: 90vh;          
  width: 25%;

  /* Scrollbar hide default */
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE & Edge */
}

.left-sidebar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Opera */
}

/* Hover hone par scrollbar visible (all browsers handle) */
.left-sidebar:hover {
  scrollbar-width: auto;       /* Firefox */
  -ms-overflow-style: auto;    /* Edge */
}

.left-sidebar:hover::-webkit-scrollbar {
  display: block;
  width: 8px;
}

/* Scrollbar thumb styling (sirf ek hi baar likhna hai) */
.left-sidebar::-webkit-scrollbar-thumb {
  background: #B0B3B8;
  border-radius: 4px;
}

/* .left-sidebar::-webkit-scrollbar-thumb:hover {
  background: #B0B3B8;
} */

.sidebar-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.2s;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  gap: 3px;
  cursor: pointer;
}
.sidebar_item_1{
  display: flex;
  gap: 7px;
  padding: 3px 0px 6px 8px;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}
.sidebar_item_1:hover{
   background-color: #e4e6eb; 
}
.sidebar_item_1 i{
   color: #000000;
  font-size: 16px;
  border-radius: 50%;
  background-color: #e4e6eb;
  padding: 9px 10px;
  
}
.sidebar-item:hover {
  background-color: #e4e6eb; 
}

.sidebar-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%; 
  margin-right: 10px;
  object-fit: cover;
}

body {
  overflow: hidden;   
}
.sidebar-item.clickable {
  cursor: pointer;
}