.main-page-right {
    position: fixed;
    top: 55px;
    right: 0;
    width: 23%;
    padding-right: 10px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    gap: 5px;
    scrollbar-width: none;
}

.main-page-right:hover {
    scrollbar-width: auto;
}

.main-page-right::-webkit-scrollbar {
    display: none;
}

.main-page-right:hover::-webkit-scrollbar {
    display: block;
    width: 8px;
}

.main-page-right::-webkit-scrollbar-thumb {
    background: rgb(126, 138, 126);
    border-radius: 4px;
}

.main-page-right::-webkit-scrollbar-track {
    background: transparent;
}

.main-page-right-inner {
    margin: 20px 0px 0px 20px;
}

.first-heading {
    padding-bottom: 10px;
}

.text-2 {
    color: #65676b;
    font-size: 18px;
    font-weight: 600;
}

.sponsored-img-right {
    width: 180px;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
}

.sponsored-img-text:hover,
.sponsored-img-text1:hover {
    border-radius: 3px;
    background: #cbcfd6a6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.sponsored-img-text {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 0px 3px 10px;
}

.sponsored-img-text1 {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 7px 0px 3px 10px;
}

.sponsored-img-text2 {
    border-bottom: 1px solid #B0B3B8;
}

.text {
    font-size: 15px;
    color: #050505;
    line-height: 1.3;
    font-family: Arial, sans-serif;
}

.text1 {
    color: #65676b;
    margin-top: 2px;
}

.headline-frend-req {
    padding-top: 10px;
    padding-bottom: 10px;
}

.heading-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-request {
    display: flex;
    gap: 10px;
    width: 315px;
    border-bottom: 1px solid #c7cace;
    padding-bottom: 5px;
}

.profile-request:hover {
    background: #cbcfd6a6;
    cursor: pointer;
    border-radius: 3px;
}

.request {
    color: #65676b;
    font-size: 17px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

.btn-see-all {
    color: #0866FF;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

.profile-logo-photo {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.profile-name {
    font-size: 15px;
    font-weight: 600;
    color: #050505;
    font-family: Arial, sans-serif;
}

.mutual-friends {
    display: flex;
    align-items: center;
}

.mutual {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    margin-left: -6px;
}

.mutual:first-child {
    margin-left: 0;
}

.mutual-text {
    font-size: 13px;
    color: #65676b;
}

.action-buttons {
    display: flex;
    gap: 8px;
    padding-bottom: 20px;
}

.confirm-btn {
    background: #1877f2;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

}

.delete-btn {
    background: #e4e6eb;
    color: black;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.birthddays-box {
    display: flex;
    flex-direction: column;
    gap: 13px;
    border-bottom: 1px solid #c7cace;
    padding-top: 15px;
    padding-bottom: 15px;
}

.birthdays-img-text:hover {
    border-radius: 3px;
    background: #cbcfd6a6;
    cursor: pointer;
}

.birthdays-img-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 5px 5px;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}

.icon-search-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-search-menu :hover {
    border-radius: 10px;
    background: #cbcfd6a6;
    cursor: pointer;
}

.search-link i {
    color: #797b7d;
}

.menu-3 i {
    font-size: 20px;
    color: #797b7d;

}

.Active_Symbol {
    border: 2px solid white;
    border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;
    position: relative;
    left: 32px;
    bottom: 25px;
}

.Active_Symbol i {
    border: 4px solid #3FBB46;
    border-radius: 50%;
    position: relative;
    bottom: 7.5px;
}

.meta-ai-element {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 6px;
    padding-bottom: 3px;
}

.meta-ai-element:hover {
    border-radius: 10px;
    background: #cbcfd6a6;
    cursor: pointer;
}

.meta-img {
    display: flex;
    align-items: center;
}

.Meta-Ai {
    border: 1px solid rgb(198, 193, 193);
    background-color: rgb(241, 236, 236);
    border-radius: 50%;
}

.content-ai {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    padding-bottom: 5px;
}

.Ai {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.verified-tick-icon img {
    width: 13px;
    border-radius: 50%;
    padding-top: 5px;
}

.left-pepole {
    display: flex;
    flex-direction: column;
}

.left-active {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 8px 5px;
    height: 52px;
}

.left-active:hover {
    border-radius: 10px;
    background: #cbcfd6a6;
    cursor: pointer;
}

.story-active img {
    border: 3px solid #0866ff;
}

.active-photo {
    border-radius: 50%;
    width: 34px;
}

.active-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
}

.hading-name {
    border-top: 1px solid #c7cace;
    padding-top: 15px;
    padding-bottom: 5px;
     position: relative;
    left: 10px;
}

.left-groups {
    position: relative;
    top: 0;
    left: 10px;

}

.group-chat-inner {
    position: relative;

}

.uppre-img {
    position: absolute;
    top: 0;
    right: 0;
}

.group-chats {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.group-photo {
    border-radius: 50%;
    width: 20px;
}

.groups-name {
    padding-left: 10px;
}