.left-video-page {
    position: fixed;
    top: 50px;
    left: 0;
    width: 360px;
    height: calc(100vh - 52px);
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    background-color: white;
     box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1); 
}

.content-icon {
    box-shadow: 0 0px 56px rgba(121, 100, 100, 0.1);
    padding-left: 20px;
    height: 100%;
}

.search-box-1 {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #f0f2f5;
    padding: 7px 8px;
    border-radius: 999px;
    width: 329px;
}

.search-link-1 i {
    padding-top: 5px;
    color: #797b7e;
    font-weight: bold;
}

.search-box-1 input {
    border: none;
    background: #f0f2f5;
    font-size: 15px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-icon {
    /* padding-bottom: 20px; */
    padding: 10px 0px;
}

.video-tittle {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.video-setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setting {
    width: 33px;
    border-radius: 50%;
    margin-right: 10px;
}
.setting:hover{
     cursor: pointer;
    background-color: #dde0eb;
}
.video-logo {
    width: 36px;
    border: 3px solid #E2E5E9;
    border-radius: 50%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.home-photo {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 2px;
    border-radius: 7px;
    width: 330px;
}
.image_control{
    padding-top: 6px;
}
.home-photo:hover{
     cursor: pointer;
    background-color: #d0d3da;
}
.home-tittle {
    font-size: 15px;
    font-weight: 500;
    color: #080809;
    font-family: Arial, Helvetica, sans-serif;
}

.icon-left{
    color: rgb(52, 47, 47);
    font-size: 18px;
    background: #E2E5E9;
    border: 2px solid gainsboro;
    border-radius: 50%;
  padding: 7px 7px 7px 6px;
}

.icon-left-saved{
    color: rgb(52, 47, 47);
    font-size: 19px;
    background: #E2E5E9;
    border: 2px solid gainsboro;
    border-radius: 50%;
   padding: 7px 9px 6px 9px;
    margin-left: 2px;
}