.Section_Box{
     border-bottom: 1px solid #d3d6da;
}
/* Right-Page-Marketplace - START*/
.right-page-marketplace {
      width: 73.3%;
    margin-left: 373px;
    padding-top:  20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

.element-picks-location {
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding-bottom: 15px;
}

.right-page-heading {
    font-size: 19px;
    color: black;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right-location-name {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1877F2;
}
.right-location-name:hover{
    text-decoration: underline;
}
.location-logo-icon i {
    color: #1877F2;
    font-weight: 800;
}
.seeMoreMarketPlace{
    height: 20px;
    width: 246px;
    padding: 17px;
    margin-top: 45%;
    color: #1877F2;

}
.seeLessMarketPlace{
    color: #1877F2;
}
.market-shop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 4px;
    padding-bottom: 32px;
}

.market-shop-box-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: rgb(33, 31, 31);
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    /* background-color: #ffffff; */
}

.material-photo {
    border-radius: 8px;
    width: 237px;
}

.location-city-state{
    padding-bottom: 5px;
    color: #65686c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 14px;
}

.main-marketplace-content {
    margin-left: 400px;
}
.under-line{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-top: 35px;
}
/* .marketplace-content{
     display: flex;
    height: 100vh; 
    overflow: hidden; 
} */

.section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}
.under-line1{
    padding-bottom: 32px;
}
.left span{
    font-size: 21px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.middle span{
    font-size: 21px;
    font-weight: 700;
    margin-right: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu-market{
    font-size: 16px;
    text-decoration: none;
  color: #1876f2;
  text-decoration: none;
}
.menu-market:hover{
    text-decoration: underline;
    color: black;
}
.market-shop-box-content:hover{
    text-decoration: underline;
    cursor: pointer;
}
.right-menu-icon i{
    color: #65676b;      
    font-size: 18px;
    padding: 4px 0px 4px 6px;
    border-radius: 50%;
    transition: background-color 0.2s;
}
.right-menu-icon i:hover{
     background: #e4e6eb; 
}

.icon-location{
    margin-right: 20px;
}