.menu-container {
  display: flex;
  flex-direction: column;
  width: 315px;
  max-height: 50vh;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}


.menu-item_saved {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 3px;
  padding: 8px 6px;
  border-radius: 8px;
}

.menu-item_saved:hover {
background-color: #f0eded;
}

.save_Post_text {
  display: flex;
  flex-direction: column;

}

.menu-text_2 {
  font-size: 12px;
  font-family: 'Gill Sans', "Segoe UI", 'Trebuchet MS', sans-serif;
  color: #65686c;
  font-weight: 500;
}

.Menu_Icon_image {
  width: 20px;
  height: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 6px;
  border-radius: 8px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #f5f5f5;
}

.menu-icon i {
  font-size: 17px;
  color: black;
}

.menu-text {
  color: #080809;
  font-size: 15px;
  font-family: 'Gill Sans', "Segoe UI", 'Trebuchet MS', sans-serif;
  font-weight: 700;

}