.top_style {
  font-size: 20px;
  font-family: 'Gill Sans', 'Segoe UI', 'Trebuchet MS', sans-serif;
  color: #080809;
}

/* ---------- Container ---------- */
.posts-container {
  max-width: 750px;
  margin: 0 auto;
  padding: 7px 0 10px 0;
}

.posts-box {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* ---------- Header ---------- */
.posts-header {
  display: flex;
  padding: 10px 15px;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 640px) {
  .posts-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.posts-title {
  font-size: 18px;
  font-weight: 600;
}

.posts-buttons {
  display: flex;
  gap: 8px;
}

/* ---------- Buttons ---------- */
.action-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #f2f2f2;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.action-btn:hover {
  background: #e4e4e4;
}

/* ---------- View Section ---------- */
.posts-view {
  border-top: 1px solid gainsboro;
  padding: 7px 0;
}

.view-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.view-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #666;
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px 85px;
  border-radius: 6px;
  transition: all 0.2s ease;
}
.view-btn:not(.active):hover {
  background: #e4e4e4;  
}


/* Active button + underline */
.view-btn.active {
  color: #1877f2;
  font-weight: 500;
}

.view-btn::after {
  content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background-color: #1877f2;
    border-radius: 2px;
    opacity: 0;
}


.view-btn.active::after {
  opacity: 1;
}