.space_conatiner{
  text-align: -webkit-center;
}

.profile-menu {
  display: flex;
  justify-content: space-between;
  padding: 4px 0px;
  border-top: 1px solid #ddd;
  background-color: #fff; 
  width: 68%;
}
.tabs-container {
  display: flex;
  justify-content: center;
}
.tab {
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
  transition: color 0.2s ease;
  border-radius: 5px;
  white-space: nowrap; 
    font-family: 'Gill Sans', "Segoe UI", 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #65686c;

}


/* .view-btn:not(.active):hover {
  background: #e4e4e4;  
} */
.tab:not(.active_tab):hover {
  background-color: rgb(232, 225, 225);
}

.active_tab {
  color: #1877f2;
  font-weight: 600;
}

.active_tab::after {
  content: "";
  position: absolute;
   bottom: -4px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #1877f2; /* underline for active tab */
  border-radius: 2px;
}

.menu_font {
  font-size: 20px;
  cursor: pointer;
  color: #333;
  padding: 6px;
  transition: 0.3s;
  width: 48px;
  height: 36px;
   background-color: #f0f2f5;
    border-radius: 8px;
}

.menu_font:hover {
   background-color: #e5e6e9;

}

.more-tab {
  display: flex;
  align-items: center;
  gap: 4px;
}
