.profile-friends{
    margin-top: 15px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 10px;

}

.Friends_text{
  font-family: 'Gill Sans', "Segoe UI", 'Trebuchet MS', sans-serif;
}

.friends-list{
 display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 10px;
    row-gap: 10px;
}

.seeMoreLessInProfile{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  color: blue;
  height: 40px;
   border-radius: 8px;
 
}

.seeMoreLessInProfile:hover{
   cursor: pointer;
      background-color: #f3f0f0;

}

