.profile-intro {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    /* column-gap: 20px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 10px;

}

.intro_Style{
    font-family: 'Gill Sans', "Segoe UI", 'Trebuchet MS', sans-serif;
}

.userBioEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.userBioTop {
    font-weight: 400;
    font-family: 'Gill Sans', "Segoe UI", 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;

}

.EditBioOption {
    font-family: 'Gill Sans', "Segoe UI", 'Trebuchet MS', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    border-radius: 8px;
    background-color: #e3e4e6;
    margin-bottom: 10px;
}

.EditBioOption:hover{
    background-color: rgb(224, 218, 218);
    cursor: pointer;
}

.IntroRow {
    display: flex;
    align-items: center;
    gap: 5px;
}

.IntroFirstRow:hover {
    text-decoration: underline;
    color: black;
}

.bioIcon {
    opacity: 0.4;
    margin-right: 10px;
}

.normal_Style {
    font-family: 'Gill Sans', "Segoe UI", 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.bold_Style {
    font-weight: 500;
    font-family: 'Gill Sans', "Segoe UI", 'Trebuchet MS', sans-serif;
    font-size: 14px;
}
.bold_Style:hover{
     text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #77797c;
    cursor: pointer;
}